.login {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-image: url('../../assets/login-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: 1000;
}

.login::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.94);
    z-index: -1;
}

.login-wrapper {
    width: 30%;
}

.join-line {
    width: 20%;
    height: 2px;
    border-width: 1px;
}

.j-inputs,
.google-btn {
    border-width: 1px;
}

.facebook-btn {
    background-color: rgb(50, 50, 117);
}

.google-btn img {
    height: 30px;
    height: 30px;
}

.facebook-btn img {
    height: 30px;
    height: 30px;
}

@media screen and (max-width:987px) {
    .login-wrapper {
        width: 50%;
    }
}

@media screen and (max-width:987px) {
    .login-wrapper {
        width: 70%;
    }
}

@media screen and (max-width:480px) {
    .login-wrapper {
        width: 90%;
    }
}