.create-job{
    width:100%;
}

.c-job-title-budget{
    width:100%;
}

.c-job-title-budget input{
    width:49%;
}

.location{
    width:100%;
}

.location input {
    width: 49%;
}

.c-job-description{
    width:100%;
}

.c-job-description textarea {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: 25vh;
    max-height: 25vh;
    min-height: 25vh;
}

.add-skill{
    width:100%;
}

.title-add{
    width:100%;
}

.title-add input{
    width:80%;
}

.title-add button {
    width: 20%;
}

.skill-text{
    width:fit-content;
}

