.create-job{
    width:100%;
}

.c-job-title-budget{
    width:100%;
}

.c-job-title-budget input{
    width:49%;
}

.location-phone{
    width:100%;
}

.location-phone input {
    width: 49%;
}

.freelance-negotiable{
    width:100%;
}

.fleelance{
    width:50%;
}

.negotiable{
    width:50%;
}

.c-job-description{
    width:100%;
}

.c-job-description textarea {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: 25vh;
    max-height: 25vh;
    min-height: 25vh;
}

.add-skill{
    width:100%;
}

.title-add{
    width:100%;
}

.title-add input{
    width:80%;
}

.title-add button {
    width: 20%;
}

.skill-text{
    width:fit-content;
}

