.skillcard{
    width:252px;
    height:344px;
    color:white;
    border-radius: 5px;
    cursor:pointer;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
}

.skillcard::before{
    content:"";
    position: absolute;
    top:0;
    bottom: 0;
    width:100%;
    height:100%;
    background: linear-gradient(to top,
                rgba(0, 0, 0, 0.973),
                rgba(62, 66, 150, 0));
}

.skillcard img{
    width:100%;
    height:100%;
    object-fit: cover;
}

.desc{
    position: absolute;
    font-weight: 300;
    bottom:15px;
    left:15px;
}

.title{
    position: absolute;
    font-weight: 500;
    font-size: 22px;
    left:15px;
    bottom:30px;
}

.stroke{
    position: absolute;
        left: 15px;
        bottom: 10px;
}

@media screen and (max-width:854px) {
    .slider-wrapper {
        width: 90%;
    }
}

@media screen and (max-width:850px){
    .skillcard{
        width:90%;
    }
    .caurosel-div{
        margin-left: 10%;
    }
}