.homehero{
    width:100%;
    height: calc(100vh - 60px);
        background-color: #3e4396;
}

.homehero-left{
    width:60%;
    font-family: 'Source Sans Pro', sans-serif;
}

.homehero-right {
    width: 40%;
}