.engagement{
    width:100%;
}

.single-tab-engagement{
    width:100%;
    background-color: #F8F9FC;;
}

.get-started-btn{
    background-color: #3e4396;
}

.engagement-img{
    height:40px;
    width:40px;

}