.about{
    width:100%;
    /* background-color: #3e4396; */
}

.info-wrapper{
background-color: #3e4396;
}

.about-cards__wrapper{
    width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        grid-gap: 7px;
}

.about-card{
    background-color: #9b51e0a8;
}

.about-right {
    width: 60%;
}

.why-image {
    width: 80%;
}

.why-image{
    animation: motion 2s linear infinite alternate;
}


@keyframes motion{
    to{
        transform: translateY(20px)
    }
}

.number{
    width:30px;
    height:30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

@media screen and (max-width:1045px) {
    .info-wrapper {
        width: 90%;
    }
}

@media screen and (max-width:1045px) {
    .about-wrapper {
        flex-direction: column;
    }

        .about-left {
            width: 100%;
        }
    
        .about-right {
            width: 100%;
        }

        .why-image {
            width: 100%;
        }
}

@media screen and (max-width:515px){
    .a-t-heading{
        font-size: 16px;
    }
}