.about{
    width:100%;
    background-color: #3e4396;
}

.about-left{
    width:40%;
}

.about-right {
    width: 60%;
}

.why-image{
    animation: motion 2s linear infinite alternate;
}


@keyframes motion{
    to{
        transform: translateY(20px)
    }
}

.number{
    width:30px;
    height:30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}