.navbar{
    width:100%;
    height:60px;
    position: sticky;
    top:0;
    left:0;
    background-color: #fff;
    z-index:999;
    border-bottom: 1px solid rgba(128, 128, 128, 0.349);
}

.mobile-view{
    position: fixed;
    top:0;
    right:0;
    height:100vh;
    width:100%;
    background-color: rgba(0, 0, 0, 0.712);
}

.mobile-i-wrapper{
    position: absolute;
    top:0;
    right:0;
    width:300px;
    height:100%;
    background-color: #fff;
}

.mobile-a-user{
    width:50px;
    height:50px;
    border-radius:50%;
}

.left-nav{
    flex:2;
    font-family: 'Poppins', sans-serif;
}

.right-nav{
    flex:3;
}



.notifications{
    position: relative;
    display: flex;
        align-items: center;
        justify-content: center;
    width:40px;
    height:40px;
    border-radius: 50%;
    overflow: hidden;
}

.nav-icons {
    margin-top: 5px;
    font-size: 15px;
}

.num-of-messages{
    position:absolute;
    top:-5px;
    right:-10px;
    width:20px;
    height:20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.user-nav-pic{
    width:100%;
    height:100%;
    object-fit: cover;
}

.message{
    margin-left: 2px;
}