.create{
    width:100%;
}

.title-price-inputs{
    width:100%;
}

.phone-isnegotiable-inputs{
    width:100%;
}

.phone-isnegotiable-inputs-input{
    width:49%;
}

.is-negotiable{
    width: 49%;
}

.skill-category{
    width:100%;
}

.skill-category select{
    width: 100%;
}

.title-price-inputs input{
    width:49%;
}

.description{
    width: 100%;
}

.description textarea{
    width:100%;
    max-width: 100%;
    min-width: 100%;
    height:25vh;
    max-height:25vh;
    min-height:25vh;
}

.short-description{
    width:100%;
}

.short-description textarea {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: 15vh;
    max-height: 15vh;
    min-height: 15vh;
}

.location-image{
    width:100%;
}

.location-image input {
    width: 49%;
}

@media screen and (max-width:854px){
    .create-m-wrapper{
        width:90%;
    }
}

@media screen and (max-width:520px){
    .title-price-inputs{
        flex-direction: column;
    }

    .title-price-inputs input{
        width:100%;
        margin-top: 4px;
    }

    .phone-isnegotiable-inputs{
        flex-direction: column;
    }

    .phone-isnegotiable-inputs-input{
    width:100%;
    }

    .is-negotiable{
        width:100%;
    }

    .location-image{
        flex-direction: column;
    }

          .location-image input{
            width:100%;
            margin-top: 4px;
          }
}

@media screen and (max-width:510px){
    .post-link-wrapper{
        flex-direction: column;
        align-items: start;
    }
    .post-s-link{
        font-size: 20px;
    }
    .post-j-link{
        font-size: 20px;
        margin-left: 0;
    }
}