.user-account-jobs{
    width: 30%;
    height: 45vh;
    border-width: 1px;
}

.u-a-j-top {
    width: 100%;
    height: 20%;
    border-bottom: 1px solid rgba(128, 128, 128, 0.192);
}

.u-a-j-middle {
    width: 100%;
    height: 65%;
    overflow: hidden;
    border-bottom: 1px solid rgba(128, 128, 128, 0.192);
}



.u-a-bottom {
    width: 100%;
    height: 15%;
}

@media screen and (max-width:1022px){
    .user-account-jobs{
        width: 40%;
    }
}

@media screen and (max-width:760px) {
    .user-account-jobs {
        width: 80%;
    }
}

@media screen and (max-width:540px) {
    .user-account-jobs {
        width: 100%;
    }
}