.otherjobs{
    height:50vh;
    width:30%;
    background-color: #fff;
}

@media screen and (max-width:1000px){
    .otherjobs{
        width:40%;
    }
}

@media screen and (max-width:735px) {
    .otherjobs {
        width: 90%;
    }
}